[submodule "PSCAD-import-tool-for-IEC-61400-27-DLLs"]
	path = PSCAD-import-tool-for-IEC-61400-27-DLLs
	url = https://github.com/Institute-of-Electrical-Energy-Systems/PSCAD-import-tool-for-IEC-61400-27-DLLs
